<div
  id="carouselExampleControls"
  class="carousel slide p-5"
  data-mdb-interval="false"
>
  <div class="carousel-inner">
    <div
      *ngFor="let object of objectList; index as i"
      class="carousel-item active"
    >



    <!--modal-->

    <div id="Modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Chose a team</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">


              <select [ngModel]="teamToBet" id="teams" name="cars" size="3">
                <option *ngFor="let team of object.teams;" value="name">{{team.name}}</option>
              </select><br><br>


          </div>
          <div class="modal-footer">
            <button (click)="betOnTeam(teamToBet);" type="button" class="btn btn-primary">Bet</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!---->



      <div class="card m-auto" style="width: 30rem; height: 20rem">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col align-self-start"></div>
              <div class="col align-self-center">
                <h6 class="card-title">{{ object.name }}</h6>
              </div>
              <div class="col align-self-end"></div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col align-self-start">
                <h6 class="card-title">{{ object.teams[0].name }}</h6>
                <h6 class="card-title">wins</h6>
                <h6 class="card-title">{{ object.teams[0].wins }}</h6>
                <h6 class="card-title">loses</h6>
                <h6 class="card-title">{{ object.teams[0].wins }}</h6>
              </div>
              <div class="col align-self-center"></div>
              <div class="col align-self-end">
                <h6 class="card-title">{{ object.teams[1].name }}</h6>
                <h6 class="card-title">wins</h6>
                <h6 class="card-title">{{ object.teams[1].wins }}</h6>
                <h6 class="card-title">loses</h6>
                <h6 class="card-title">{{ object.teams[1].wins }}</h6>
              </div>
            </div>

            <button
              class="btn btn-outline btn-light my-2 my-sm-0"
              type="submit"
            >
              <a href="#" data-bs-toggle="modal" data-bs-target="#Modal"
                >Bet</a
              >
            </button>

            <button
              [hidden]="!isAdmin"
              class="btn btn-outline-warning btn-light my-2 my-sm-0"
              (click)="deleteContest(object)"
              type="submit"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
