
.card-img-top{

  width:10%;




}

.color {
  background-color: #fff8e6;
}

.card-title {
  text-align: center;

}

.deleteBtn{
  position: relative;
  top:  85px;
  left: 490px;
}

.center {
  padding: auto;
  position: relative;
  top: 50px;
  left:270px;


}

.spacer{
  height: 220px;
  background-color: #fff8e6;
}

.bcgFut{
  background-image: url("/assets/photos/futbal.png");
}

.body {
  font-family: 'Bebas Neue';
}

