<nav class="navbar navbar-light color">
  <a class="navbar-brand"> <img id="img" src="/assets/photos/dsBuffer.bmp.png"><img/></a>
  <div class="moveAminMsj" [hidden]="!isAdmin
  ">Hello admin, wanna add another contest?</div>
  <button
    [hidden]="!isAdmin"
    class="btn moveAddContest btn-outline-dark btn-light my-2 my-sm-0"
    type="submit"
  >
    <div data-bs-toggle="modal" data-bs-target="#exampleModal"
      >Add Contest</div
    >
  </button>
  <form class="form-inline" [formGroup]="userForm" (ngSubmit)="logged()">
    <input
    [hidden]="isLoggedIn"
      class="form-control text-light bg-dark mr-sm-2 toTheLeft"
      formControlName="email"
      type="text"
      placeholder="email"
    />
    <input
    [hidden]="isLoggedIn"
      class="form-control text-light bg-dark mr-sm-2 toTheLeft1"
      type="text"
      formControlName="password"
      placeholder="password"
    />
    <button
    [hidden]="isLoggedIn"
      class="btn btn-outline-success btn-light my-2 my-sm-0 toTheLeft0"
      type="submit"
    >
      Log in
    </button>
  </form>
</nav>

<!-- Modal -->
<div
  class="modal"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Contest Data</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <br />

        <form [formGroup]="contestForm" (ngSubmit)="alert()">
          <div class="form-group">
            <input
              class="form-control"
              formControlName="name"
              placeholder="Contest name"
            />
            <br />

            <div
              formArrayName="teams"
              *ngFor="let team of getTeamsControls(); index as i"
            >
              <label> Team {{ i + 1 }} </label>
              <br />
              <br />

              <div formGroupName="{{ i }}">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  formControlName="name"
                  placeholder="name"
                />
                <br />

                <input
                  type="text"
                  class="form-control"
                  id="wins"
                  name="wins"
                  formControlName="wins"
                  placeholder="wins"
                />
                <br />

                <input
                  type="text"
                  class="form-control"
                  id="losses"
                  name="losses"
                  formControlName="losses"
                  placeholder="losses"
                />
                <br />
              </div>
            </div>

            <p>
              <button type="submit" class="btn btn-primary">Submit</button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
